myscripts/
storage/*
!storage/ics/
!storage/trained_models/
phiflow2/*
*.pyc
*.tmp
\.idea
\.pytest_cache
phi/local/hostname.py
.vscode
.mypy_cache
*.npz
images/*
data/*
test_data/*
.cache
run_tests.sh
wandb/
myenv/
build/
*.sh
*.pkl
felix/
*.log
controller_coef*
neural_control/temp/*
phiflow.egg-info/*
neural_control/visualization/log.json
*html
*pdf
*out
*png
!gui.png
figs/